<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title-page d-flex flex-align-center pt-2">
                {{data.id != null ? 'Editar ': 'Novo '}}produto
            </h1>
        </div>
    </div>

    <mat-card>
        <form [formGroup]="form" (ngSubmit)="save()" style="overflow-x: hidden;">
            <div class="row">

                <input-validator class="col-md-6" [messages]="{required: 'Campo obrigatório'}">
                    <mat-form-field appearance="outline">
                        <mat-label>Data de compra</mat-label>
                        <input matInput type="text" formControlName="datePurchase" placeholder="Data de compra"
                            [matDatepicker]="picker" required>
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker color="primary" disabled="false" startView="multi-year" [startAt]="startDate">
                        </mat-datepicker>
                    </mat-form-field>
                </input-validator>

                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Produto</mat-label>
                    <mat-select formControlName="productId" (selectionChange)="productSelect($event)">
                      <mat-option *ngFor="let item of products" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <div class="row col-12">
                    <div class="col-md-12 text-right">
                        <button type="button" mat-stroked-button class="text-primary border-primary mr-3"
                            (click)="cancel()">Cancelar</button>
                        <button type="submit" [ngClass]="{'bg-disabled': loading}" [class.btnSpinner]="loading"
                            mat-flat-button class="bg-primary text-white">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>