<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title-page d-flex flex-align-center pt-2">
                {{data.id != null ? 'Editar ': 'Novo '}}pagamento
            </h1>
        </div>
    </div>

    <mat-card>
        <form [formGroup]="form" (ngSubmit)="save()" style="overflow-x: hidden;">
            <div class="row">
                <input-validator class="col-md-6" [messages]="{required: 'Campo obrigatório'}">
                    <mat-form-field appearance="outline">
                        <mat-label>Data de pagamento</mat-label>
                        <input matInput type="text" formControlName="signatureDate" placeholder="Data de pagamento"
                            [matDatepicker]="pickerSend" required>
                        <mat-datepicker-toggle matSuffix [for]="pickerSend">
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerSend color="primary" disabled="false" startView="multi-year">
                        </mat-datepicker>
                    </mat-form-field>
                </input-validator>

                <input-validator class="col-md-6" [messages]="{required: 'Campo obrigatório'}">
                    <mat-form-field appearance="outline">
                        <mat-label>Data de cancelamento</mat-label>
                        <input matInput type="text" formControlName="cancelDate" placeholder="Data de cancelamento"
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker color="primary" disabled="false" startView="multi-year">
                        </mat-datepicker>
                    </mat-form-field>
                </input-validator>

                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Forma de pagamento</mat-label>
                    <mat-select formControlName="paymentMethodId" (selectionChange)="paymentSelect($event)" required>
                        <mat-option *ngFor="let item of methods" [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <input-validator class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>N° de parcelas</mat-label>
                        <input matInput disabled type="text" formControlName="installments">
                    </mat-form-field>
                </input-validator>

                <input-validator class="col-md-12 pb-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Observação</mat-label>
                        <textarea matInput #input formControlName="note" placeholder="Observação"
                            [maxLength]="1000"></textarea>
                        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
                    </mat-form-field>
                </input-validator>

                <div class="row col-12">
                    <div class="col-md-12 text-right">
                        <button type="button" mat-stroked-button class="text-primary border-primary mr-3"
                            (click)="cancel()">Cancelar</button>
                        <button type="submit" [ngClass]="{'bg-disabled': loading}" [class.btnSpinner]="loading"
                            mat-flat-button class="bg-primary text-white">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>