<div class="container-fluid">
    <div class="row">
        <div class="col" style="align-self: center;">
            <h1 class="title-page d-flex flex-align-center">
                Lançamentos
            </h1>
        </div>
        <div class="col text-right">
            <button type="button" mat-stroked-button class="text-primary border-primary my-2" (click)="new()">
                Novo
            </button>
        </div>
    </div>

    <mat-card class="mb-3">
        <div class="row mb-n3">
            <div class="col mr-n3">
                <mat-form-field appearance="outline">
                    <mat-label>Pesquisar</mat-label>
                    <input matInput (keyup)="searchFilter($event.target.value)"
                        placeholder="Pesquise por qualquer campo da tabela">
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="description">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="investment">
            <mat-header-cell *matHeaderCellDef> Investimento </mat-header-cell>
            <mat-cell *matCellDef="let row"> R$ {{row.investment | number: '1.2-2'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invoice">
            <mat-header-cell *matHeaderCellDef> Faturamento </mat-header-cell>
            <mat-cell *matCellDef="let row"> R$ {{row.invoice | number: '1.2-2'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantityStudents">
            <mat-header-cell *matHeaderCellDef> Qtd. Alunos </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.quantityStudents}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button mat-sm-button type="button" (click)="edit(row)" [matTooltip]="Editar">
                    <i class="fas fa-pen fa-lg text-black" [class.fa-user-edit]="userEditIcon"
                        [class.fa-eye]="useEyedIcon"></i></button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsLanch"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsLanch;"></mat-row>
        <!-- <mat-footer-row *matFooterRowDef="displayedColumnsLanch" [hidden]="loading"></mat-footer-row> -->
    </mat-table>

    <mat-card *ngIf="loading" class="w-100 d-flex justify-content-center table-loading">
        <mat-spinner diameter="20"></mat-spinner>
    </mat-card>

    <mat-card *ngIf="!loading && dataSource.data.length <= 0" class="w-100 d-flex justify-content-start table-loading">
        <small>Nenhum item encontrado.</small>
    </mat-card>

    <mat-paginator [hidden]="dataSource.data.length <= 0" class="mat-paginator-table"
        [pageSize]="paginatorHelper.PageSize" [pageSizeOptions]="paginatorHelper.PageSizeOptions" showFirstLastButtons>
    </mat-paginator>
</div>