<h1 class="title-page d-flex flex-align-center">
  Alterar senha
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">

      <mat-card>

        <form [formGroup]="form" novalidate autocomplete="off">
          <div class="container-fluid">
            <div class="row m-0 p-0 mx-n4">
              <div class="col-4">
                <mat-form-field hideRequiredMarker="false" appearance="outline">
                  <mat-label>Senha Antiga</mat-label>
                  <input matInput type="password" formControlName="senhaAntiga" required>
                  <mat-error *ngIf="form.controls.senhaAntiga.invalid">Campo Obrigatório</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field hideRequiredMarker="false" appearance="outline">
                  <mat-label>Nova Senha</mat-label>
                  <input matInput type="password" formControlName="novaSenha" required>
                  <mat-error *ngIf="form.controls.novaSenha.invalid">Campo Obrigatório</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field hideRequiredMarker="false" appearance="outline">
                  <mat-label>Confirmar Nova Senha</mat-label>
                  <input matInput type="password" formControlName="ConfirmacaoNovaSenha" required>
                  <mat-error *ngIf="form.controls.ConfirmacaoNovaSenha.invalid">Campo Obrigatório</mat-error>
                </mat-form-field>
              </div>
        
              <div class="col-12">
                <button mat-flat-button type="submit" color="primary" class="float-right"
                  (click)="alterarSenha()">Alterar</button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>


