.p-title {
  border-bottom: 2px solid #ccc;
  margin: 20px 0;
  padding-bottom: 8px;
  font-weight: bold;
}

.log-register {
  font-size: 12px;
  color: rgb(90, 90, 90);
}

.title {
  font-weight: bold;
}

.mat-column-id {
  flex: 0 0 9%;
}

.mat-column-acao {
  flex: 0 0 5%;
}

.mat-column-action {
  flex: 0 0 5%;
}

.btn-del {
  color: red;
}