<h3 class="title-page d-flex flex-align-center">
  {{data != null ? 'Editar ': 'Novo '}}perfil
</h3>

<form [formGroup]="form" (ngSubmit)="salvar()">
  <mat-dialog-content>
    <div class="row m-0 p-0 mx-n4">
      <input hidden formControlName="id">

      <input-validator class="col-12" [messages]="{required: 'Campo obrigatório'}">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Nome" required cdkFocusInitial>
        </mat-form-field>
      </input-validator>

      <div class="col-12">
        <mat-tab-group mat-align-tabs="start">
  
          <mat-tab label="Permissões">
            <app-dinamic-table [source]="sourcePermissoes" [canDelete]="false"
            [showSearch]="false" [canPrint]="false" [canActive]="true" (statusChange)="atualizarStatusPermissao($event)">
            </app-dinamic-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mb-1 mt-4 mr-n2" align="end">
    <button type="submit" mat-flat-button class="bg-primary text-white">Salvar</button>
    <button type="button" mat-stroked-button mat-dialog-close class="text-primary border-primary">Cancelar</button>
  </mat-dialog-actions>
</form>    

