<form class="login-form d-flex flex-column" [formGroup]="form" (ngSubmit)="submitEmail()">

	<div class="row">
		<div class="col">
			Enviaremos um e-mail para alteração da senha.
		</div>
	</div>

	<div class="row mt-4 flex-column">
		<div class="col">
			<mat-form-field appearance="outline">
				<mat-label>E-mail</mat-label>
				<input matInput type="email" placeholder="E-mail" formControlName="email">
				<mat-error *ngIf="form.controls['email'].hasError('required')">
					Informe o e-mail</mat-error>
				<mat-error *ngIf="form.controls['email'].hasError('email')">
					E-mail inválido</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="row flex-column">
		<div class="col mt-1">
			<button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" class="btn-block">Enviar</button>
		</div>
	</div>

	<div class="row mt-5 flex-column text-center">
		<div class="col">
			<button mat-button [routerLink]="'/login'"><mat-icon>chevron_left</mat-icon>login</button>
		</div>
	</div>
</form>