$procard-primary: (
    50 : #fef1ec,
    100 : #fcddcf,
    200 : #fbc6af,
    300 : #f9af8e,
    400 : #f79e76,
    500 : #f68d5e,
    600 : #f58556,
    700 : #f37a4c,
    800 : #f27042,
    900 : #ef5d31,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd7cd,
    A700 : #ffc3b3,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$procard-accent: (
    50 : #e6f5f9,
    100 : #c1e6f0,
    200 : #98d5e6,
    300 : #6fc4dc,
    400 : #50b8d5,
    500 : #31abcd,
    600 : #2ca4c8,
    700 : #259ac1,
    800 : #1f91ba,
    900 : #1380ae,
    A100 : #e0f5ff,
    A200 : #ade4ff,
    A400 : #7ad4ff,
    A700 : #60ccff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$procard-warn: (
    50 : #feecec,
    100 : #fccfcf,
    200 : #fbafaf,
    300 : #f98e8e,
    400 : #f77676,
    500 : #f65e5e,
    600 : #f55656,
    700 : #f34c4c,
    800 : #f24242,
    900 : #ef3131,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcdcd,
    A700 : #ffb3b3,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);