.mat-accordion {

  .menu-item {
    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .menu-subitem {

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .mat-expansion-panel {
    background-color: transparent;

    &:not([class*=mat-elevation-z]) {
      box-shadow: inherit;
    }

    .mat-expansion-panel-header {
      height: 48px !important;

      &[color="secondary"] {
        background-color: $primary;

        &:hover,
        &:focus,
        &:active {
          background-color: $primary;
        }
      }

      &[color="primary"] {
        background-color: $secondary;

        &:hover,
        &:focus,
        &:active {
          background-color: $secondary;
        }
      }

      .mat-content {

        .mat-expansion-panel-header-title {
          color: $gray-700;
          align-self: center;

          .description {
            padding: 16px;
          }
        }

        .mat-expansion-panel-header-description {
          @extend .mat-expansion-panel-header-title;
          justify-content: flex-end;

          .icon {
            padding: 16px;
          }
        }
      }

      .mat-expansion-indicator {

        &:after {
          color: $gray-400;
        }
      }

      &.change-icon {

        .mat-expansion-indicator {
          line-height: 0;

          &:after {
            content: "▼";
            border: none;
          }
        }
      }
    }

    .mat-expansion-panel-content {

      .mat-expansion-panel-body {
        padding: 5px 0 5px 5px;
      }
    }

    &.mat-expanded {

      .mat-expansion-panel-header {
        height: 48px !important;
      }


      &.active {

        .mat-expansion-panel-header {

          .mat-expansion-panel-header-title {
            color: $secondary;
          }
        }

        .mat-expansion-panel-content {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $secondary;
          }
        }
      }
    }
  }
}

.side-nav-menu {

  .mat-expansion-indicator {

    &:after {
      color: $gray-600;
    }
  }

  .menu-item {

    .mat-expansion-indicator {
      transition: all 250ms ease-in-out;

      &:after {
        border-color: $gray-600;
        border-width: 0 2px 2px 0;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    &.active {

      .mat-expansion-indicator {

        &:after {
          color: $secondary;
        }
      }

    }
  }
}
