<div class="container-fluid">
  <div class="row">
    <div class="col" style="align-self: center;">
      <h1 class="title-page d-flex flex-align-center">
        {{title}}
      </h1>
    </div>
    <div class="col text-right">
      <button type="button" mat-stroked-button class="text-primary border-primary my-2" (click)="new()">
        Novo
      </button>
    </div>
  </div>

  <mat-card class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <ng-select appearance="outline" [items]="providers" bindLabel="text" bindValue="id"
          [(ngModel)]="filterProviderValue" (change)="searchFilter()" placeholder="Nome">
        </ng-select>
      </div>

      <div class="col text-right" [hidden]="dataSource.data.length <= 1">
        <app-table-export [dataSource]="dataSource" [columns]="columnsExport" [columnsName]="columnsExportName"
          [name]="title"></app-table-export>
      </div>
    </div>
  </mat-card>

  <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bank">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Banco </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.bank}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="agency">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Agência </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.agency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acount">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Conta </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.acount}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="pix">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Pix </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pix}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-sm-button type="button" (click)="edit(row)" matTooltip="Editar">
          <i class="fas fa-pen fa-lg text-black"></i></button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="displayedColumnsLanch" [hidden]="loading"></mat-footer-row> -->
  </mat-table>

  <mat-card *ngIf="loading" class="w-100 d-flex justify-content-center table-loading">
    <mat-spinner diameter="20"></mat-spinner>
  </mat-card>

  <mat-card *ngIf="!loading && dataSource.data.length <= 0" class="w-100 d-flex justify-content-start table-loading">
    <small>Nenhum item encontrado.</small>
  </mat-card>

  <mat-paginator [hidden]="dataSource.data.length <= 0" class="mat-paginator-table"
    [pageSize]="paginatorHelper.PageSize" [pageSizeOptions]="paginatorHelper.PageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</div>
