<form class="login-form d-flex flex-column" [formGroup]="form" (ngSubmit)="submitEmail()">

	<div class="row">
		<div class="col">
			Cadastre sua nova senha abaixo
		</div>
	</div>

	<div class="row mt-4 flex-column">
		<div class="col">
			<mat-form-field appearance="outline">
				<mat-label>E-mail</mat-label>
				<input matInput type="email" placeholder="E-mail" formControlName="email" disabled readonly required>
			</mat-form-field>
		</div>

		<div class="col">
			<mat-form-field appearance="outline">
				<mat-label>Senha</mat-label>
				<input matInput type="password" placeholder="Senha" formControlName="password" required autofocus>
				<mat-error *ngIf="form.controls['password'].hasError('required')">
					Informe a senha desejada</mat-error>
			</mat-form-field>
		</div>

		<div class="col">
			<mat-form-field appearance="outline">
				<mat-label>Confirmar senha</mat-label>
				<input matInput type="password" placeholder="Confirmar senha" formControlName="confirmPassword" required>
				<mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
					Confirme a senha</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="row flex-column">
		<div class="col mt-1">
			<button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" class="btn-block">Enviar</button>
		</div>
	</div>

	<div class="row mt-5 flex-column text-center">
		<div class="col">
			<button mat-button [routerLink]="'/login'"><mat-icon>chevron_left</mat-icon>login</button>
		</div>
	</div>
</form>