<div class="container-fluid">
    <div class="row">
      <div class="col" style="align-self: center">
        <h1 class="title-page d-flex flex-align-center">
          {{ title }}
        </h1>
      </div>
      <div class="col text-right">
        <button
          type="button"
          mat-stroked-button
          class="text-primary border-primary my-2"
          (click)="new()"
        >
          Novo
        </button>
      </div>
    </div>
    <mat-card class="mb-3">
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <ng-select
              appearance="outline"
              [items]="patrimonies"
              bindLabel="text"
              bindValue="id"
              [(ngModel)]="filterPatrimonyValue"
              (change)="searchFilter()"
              placeholder="Nome"
              [ngModelOptions]="{standalone: true}"
            >
            </ng-select>
          </div>

          <mat-form-field class="col-md-2" appearance="outline">
            <mat-label>Situação</mat-label>
            <mat-select
              value=""
              (selectionChange)="searchFilter()"
              [(ngModel)]="filterStatus"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let item of situations" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-1 text-right" [hidden]="dataSource.data.length <= 1">
            <app-table-export
              [dataSource]="dataSource"
              [columns]="columnsExport"
              [columnsName]="columnsExportName"
              [name]="title"
            ></app-table-export>
          </div>
        </div>
      </form>
    </mat-card>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="description">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          Descrição do bem
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tag">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          Etiqueta
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.tag }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
            Categoria
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.categoryName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Situação </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-status-badge-patrimony
            [value]="row.status"
            [statusDescription]="row.statusDescription"
          >
          </app-status-badge-patrimony>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            mat-sm-button
            type="button"
            (click)="edit(row)"
            [matTooltip]="editLabel"
          >
            <i
              class="fas fa-pen fa-lg text-black"
            ></i>
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <!-- <mat-footer-row *matFooterRowDef="displayedColumnsLanch" [hidden]="loading"></mat-footer-row> -->
    </mat-table>

    <mat-card
      *ngIf="loading"
      class="w-100 d-flex justify-content-center table-loading"
    >
      <mat-spinner diameter="20"></mat-spinner>
    </mat-card>

    <mat-card
      *ngIf="!loading && dataSource.data.length <= 0"
      class="w-100 d-flex justify-content-start table-loading"
    >
      <small>Nenhum item encontrado.</small>
    </mat-card>

    <mat-paginator
      class="mat-paginator-table"
      [length]="resultsLength"
      [pageSize]="paginatorHelper.PageSize"
      [pageSizeOptions]="paginatorHelper.PageSizeOptions"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
