<div class="container-fluid">
  <!-- <mat-dialog-content> -->
  <div class="row">
    <div class="col">
      <h1 class="title-page d-flex flex-align-center">
        {{ title }}
      </h1>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Dados Pessoais">
      <form [formGroup]="form" style="overflow-x: hidden">
        <div class="row">
          <div class="col-12">
            <p class="p-title">Dados pessoais</p>
          </div>

          <input-validator
            class="col-md-6"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Nome completo</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="name"
                placeholder="Nome"
                cdkFocusInitial
                required
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-6"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="email"
                placeholder="E-mail"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="cpf"
                placeholder="CPF"
                mask="000.000.000-00"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>RG</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="rg"
                placeholder="RG"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Celular</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="phoneNumber"
                placeholder="Celular"
                mask="(00) 0000-0000||(00) 0 0000-0000"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Data de nascimento</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="birthDate"
                placeholder="Data de nascimento"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker
                #picker
                color="primary"
                disabled="false"
                startView="multi-year"
                [startAt]="startDate"
              >
              </mat-datepicker>
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Instagram</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="instagram"
                placeholder="Instagram"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <ng-select
              appearance="outline"
              [items]="mentoreds"
              [multiple]="true"
              bindLabel="name"
              bindValue="id"
              [readonly]="disabled"
              formControlName="partners"
              placeholder="Sócio"
              multiple
            >
            </ng-select>
          </input-validator>

          <input-validator
            class="col-md-3 mb-1 d-flex align-items-center"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-checkbox formControlName="isPartner" disabled
              >É sócio</mat-checkbox
            >
          </input-validator>

          <div class="col-12">
            <p class="p-title">Endereço</p>
          </div>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>CEP</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="zipCode"
                placeholder="CEP"
              />
            </mat-form-field>
          </input-validator>
          <div class="offset-6"></div>

          <input-validator
            class="col-md-6"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Endereço</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="street"
                placeholder="Endereço"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-3"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Número</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="number"
                placeholder="Número"
              />
            </mat-form-field>
          </input-validator>

          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Complemento</mat-label>
            <input
              matInput
              type="text"
              [readonly]="disabled"
              formControlName="complement"
              placeholder="Complemento"
            />
          </mat-form-field>

          <input-validator
            class="col-md-6"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="district"
                placeholder="Bairro"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-6"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="city"
                placeholder="Cidade"
              />
            </mat-form-field>
          </input-validator>

          <input-validator
            class="col-md-2"
            [messages]="{ required: 'Campo obrigatório' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <input
                matInput
                type="text"
                [readonly]="disabled"
                formControlName="state"
                placeholder="Estado"
                maxlength="2"
              />
            </mat-form-field>
          </input-validator>

          <input-validator class="col-md-12 pb-2">
            <mat-form-field appearance="fill">
              <mat-label>Observação</mat-label>
              <textarea
                matInput
                #input
                [readonly]="disabled"
                formControlName="note"
                placeholder="Observação"
                [maxLength]="1000"
              ></textarea>
              <mat-hint align="end"
                >{{ input.value?.length || 0 }}/1000</mat-hint
              >
            </mat-form-field>
          </input-validator>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Empresa">
      <mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="id"
        matSortDirection="desc"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="companyName">
          <mat-header-cell mat-sort-header *matHeaderCellDef>
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.companyName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cnpj">
          <mat-header-cell mat-sort-header *matHeaderCellDef>
            CNPJ
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.cnpj | mask: "00.000.000/0000-00" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              mat-sm-button
              type="button"
              (click)="view(row)"
              matTooltip="Visualizar"
            >
              <i
                class="fas fa-eye fa-lg text-black"
                [class.fa-user-edit]="userEditIcon"
                [class.fa-eye]="useEyedIcon"
              ></i>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
  <!-- </mat-dialog-content> -->
  <div class="row col-12 justify-content-end pr-0">
    <button
      type="button"
      mat-stroked-button
      class="text-primary border-primary mt-3"
      (click)="close()"
    >
      Fechar
    </button>
  </div>
</div>
