<div class="container-fluid">
    <div class="row">
        <div class="col" style="align-self: center">
            <h1 class="title-page d-flex flex-align-center">
                {{ title }}
            </h1>
        </div>
        <div class="col text-right">
            <button type="button" mat-stroked-button class="text-primary border-primary my-2" (click)="new()">Novo</button>
        </div>
    </div>

    <mat-card>
        <form [formGroup]="form">
            <div class="row mb-n3">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Aluno</mat-label>
                        <input matInput formControlName="customerName" placeholder="Aluno" />
                    </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field appearance="outline">
                      <mat-label>Mentorado</mat-label>
                      <input matInput formControlName="mentoredName" placeholder="Aluno" />
                  </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Brinde</mat-label>
                    <input matInput formControlName="awardName" placeholder="Brinde" />
                </mat-form-field>
            </div>

                <mat-form-field class="col-md-2" appearance="outline">
                    <mat-label>Situação</mat-label>
                    <mat-select value="" (selectionChange)="searchFilter()" [(ngModel)]="filterStatus" [ngModelOptions]="{ standalone: true }">
                        <mat-option value="">Todos</mat-option>
                        <mat-option *ngFor="let item of status" [value]="item.type">{{ item.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="col-1 text-right" [hidden]="dataSource.data.length <= 0">
                    <app-table-export [dataSource]="dataSource" [columns]="columnsExport" [columnsName]="columnsExportName" [name]="title"></app-table-export>
                </div>
            </div>
        </form>
    </mat-card>

    <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="customerName">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Aluno </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.customerName }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="mentoredName">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Mentorado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.mentoredName }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="awardName">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Prêmio </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.awardName }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="dateRequest">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Data da solicitação </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.dateRequest | date: 'dd/MM/yyyy' }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="dateSend">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Data do envio </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.dateSend | date: 'dd/MM/yyyy' }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <app-status-badge-sent [value]="row.status" [statusDescription]="row.statusDescription"> </app-status-badge-sent>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button mat-sm-button type="button" (click)="edit(row)" matTooltip="Editar">
                    <i class="fas fa-pen fa-lg text-black"></i>
                </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <!-- <mat-footer-row *matFooterRowDef="displayedColumnsLanch" [hidden]="loading"></mat-footer-row> -->
    </mat-table>

    <mat-card *ngIf="loading" class="w-100 d-flex justify-content-center table-loading">
        <mat-spinner diameter="20"></mat-spinner>
    </mat-card>

    <mat-card *ngIf="!loading && dataSource.data.length <= 0" class="w-100 d-flex justify-content-start table-loading">
        <small>Nenhum item encontrado.</small>
    </mat-card>

    <mat-paginator [hidden]="dataSource.data.length <= 0" class="mat-paginator-table" [pageSize]="paginatorHelper.PageSize" [pageSizeOptions]="paginatorHelper.PageSizeOptions" showFirstLastButtons> </mat-paginator>
</div>
