<div class="container-fluid">
    <div class="row">
        <div class="col" style="align-self: center">
            <h1 class="title-page d-flex flex-align-center">
                {{ title }}
            </h1>
        </div>
        <div class="col text-right">
            <button type="button" mat-stroked-button class="text-primary border-primary my-2" (click)="new()">Novo</button>
        </div>
    </div>

    <mat-card class="mb-3">
        <form [formGroup]="form">
            <div class="row">
                <!-- <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="search" placeholder="Descrição" />
                    </mat-form-field>
                </div> -->

                <div class="col">
                    <input-validator [messages]="{ required: 'Campo obrigatório' }">
                        <mat-form-field appearance="outline">
                            <mat-label>Data do agendamento</mat-label>
                            <input
                                matInput
                                type="text"
                                formControlName="dateScheduled"
                                placeholder="Data do agendamento"
                                [matDatepicker]="picker1"
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
                            <mat-datepicker #picker1 color="primary" disabled="false" startView="month" [startAt]="startDate"> </mat-datepicker>
                        </mat-form-field>
                    </input-validator>
                </div>

                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Fornecedor</mat-label>
                        <input matInput formControlName="provider" placeholder="Fornecedor" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Categoria</mat-label>
                        <input matInput formControlName="category" placeholder="Categoria" />
                    </mat-form-field>
                </div>

                <div class="col-1 text-right" [hidden]="dataSource.data.length <= 0">
                    <app-table-export
                        [dataSource]="dataSource"
                        [columns]="columnsExport"
                        [columnsName]="columnsExportName"
                        [name]="title"
                    ></app-table-export>
                </div>
            </div>
        </form>
    </mat-card>

    <mat-table [dataSource]="dataSource" matSort matSortActive="id" class="mat-elevation-z8">
        <ng-container matColumnDef="providerName">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Fornecedor </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.providerName }} </mat-cell>
            <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="dateSchedulingPayment">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Data do agendamento </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.dateSchedulingPayment | date: 'dd/MM/yyyy' }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="datePayment">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Data do pagamento </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.datePayment | date: 'dd/MM/yyyy' }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let row"> R$ {{ row.amount | number: '1.2-2' }} </mat-cell>
            <mat-footer-cell *matFooterCellDef> R$ {{ getTotal() | number: '1.2-2' }}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button mat-sm-button type="button" (click)="edit(row)" [matTooltip]="editLabel">
                    <i class="fas fa-pen fa-lg text-black"></i>
                </button>
                <button class="ml-2 btn-del mr-2" mat-icon-button mat-sm-button type="button" (click)="modalConfirmationRemove(row.id)" matTooltip="Remover">
                  <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns" [hidden]="loading"></mat-footer-row>
    </mat-table>

    <mat-card *ngIf="loading" class="w-100 d-flex justify-content-center table-loading">
        <mat-spinner diameter="20"></mat-spinner>
    </mat-card>

    <mat-card *ngIf="!loading && dataSource.data.length <= 0" class="w-100 d-flex justify-content-start table-loading">
        <small>Nenhum item encontrado.</small>
    </mat-card>

    <mat-paginator
        class="mat-paginator-table"
        [length]="resultsLength"
        [pageSize]="paginatorHelper.PageSize"
        [pageSizeOptions]="paginatorHelper.PageSizeOptions"
        showFirstLastButtons
    >
    </mat-paginator>
</div>
