@import 'variables';

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.frame{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.1);
  background-repeat: no-repeat;
  background-size: auto;
  object-fit: cover;
}

.frame-img{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid rgba(0,0,0,.1);
  background-repeat: no-repeat;
  background-size: auto;
  object-fit: cover;
}

.col-action {
  
  @media (min-width: 993px) {
    max-width: 120px;
  }
}
