<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title-page d-flex flex-align-center pt-2">
        {{title}}
      </h1>
    </div>
  </div>

  <mat-card>
    <span *ngIf="id">
      Status:
      <app-status-badge-sent [value]="form.controls.status.value"
        [statusDescription]="form.controls.statusDescription.value"></app-status-badge-sent>
    </span>
    <form [formGroup]="form" (ngSubmit)="save()" style="overflow-x: hidden;">
      <div class="row pt-3">

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <mat-form-field appearance="outline">
            <mat-label>Solicitante</mat-label>
            <input matInput type="text" formControlName="requester" placeholder="Solicitante">
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <ng-select appearance="outline" [items]="customers" bindLabel="name" bindValue="id"
            formControlName="searchCustomer" [(ngModel)]="search" placeholder="Aluno"
            (keyup)="searchCustomer($event.target.value)" (change)="changeCustomer($event)">
          </ng-select>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <ng-select appearance="outline" [items]="mentoreds" bindLabel="name" bindValue="id"
            formControlName="searchMentored" [(ngModel)]="searchM" placeholder="Mentorado"
            (keyup)="searchMentored($event.target.value)" (change)="changeCustomer($event)">
          </ng-select>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email" placeholder="E-mail">
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <mat-form-field appearance="outline">
            <mat-label>Campanha</mat-label>
            <input matInput type="text" formControlName="campaign" placeholder="Campanha">
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" formControlName="phone" placeholder="Telefone" mask="(00) 00000-0000">
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <ng-select appearance="outline" [items]="awards" bindLabel="name" bindValue="id" formControlName="awardId"
            placeholder="Prêmio" required> </ng-select>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Data Solicitação</mat-label>
            <input matInput type="text" formControlName="dateRequest" placeholder="Data Solicitação"
              [matDatepicker]="picker1" />
            <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary" disabled="false" startView="month" [startAt]="startDate">
            </mat-datepicker>
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Data Envio</mat-label>
            <input matInput type="text" formControlName="dateSend" placeholder="Data Envio" [matDatepicker]="picker2" />
            <mat-datepicker-toggle matSuffix [for]="picker2"> </mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary" disabled="false" startView="month" [startAt]="startDate">
            </mat-datepicker>
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{required: 'Campo obrigatório'}">
          <mat-form-field appearance="outline">
            <mat-label>Código de rastreio</mat-label>
            <input matInput type="text" formControlName="code" placeholder="Código de rastreio">
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Data Recebimento</mat-label>
            <input matInput type="text" formControlName="dateReceiving" placeholder="Data Recebimento"
              [matDatepicker]="picker3" />
            <mat-datepicker-toggle matSuffix [for]="picker3"> </mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary" disabled="false" startView="month" [startAt]="startDate">
            </mat-datepicker>
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Observação</mat-label>
            <textarea matInput #input formControlName="note" placeholder="Observação" [maxLength]="1000"></textarea>
            <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
          </mat-form-field>
        </input-validator>

        <div class="col-12">
          <p class="p-title">Endereço</p>
        </div>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input (keyup)="searchCep($event)" matInput type="text" formControlName="zipCode" placeholder="CEP" />
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput type="text" formControlName="street" placeholder="Endereço" />
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput type="text" formControlName="number" placeholder="Número" />
          </mat-form-field>
        </input-validator>

        <mat-form-field class="col-md-3" appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput type="text" formControlName="complement" placeholder="Complemento" />
        </mat-form-field>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" formControlName="district" placeholder="Bairro" />
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-3" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" formControlName="city" placeholder="Cidade" />
          </mat-form-field>
        </input-validator>

        <input-validator class="col-md-2" [messages]="{ required: 'Campo obrigatório' }">
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput type="text" formControlName="state" placeholder="Estado" maxlength="2" />
          </mat-form-field>
        </input-validator>

      </div>
      <div class="row col-12">
        <div class="col-md-12 text-right">
          <button type="button" mat-stroked-button class="text-primary border-primary mr-3"
            (click)="cancel()">Cancelar</button>
          <button type="submit" [ngClass]="{'bg-disabled': loading || form.invalid}" [class.btnSpinner]="loading"
            mat-flat-button class="bg-primary text-white">Salvar</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
